body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#timer {
  text-align: left;
}

.slideshow-container {
  max-width: 700px;
  align-items: center;
  margin: 0 auto;
}

img#slideshow {
  width: 700px;
  height: 600px;;
}

footer {
  align-items: center;
  margin-top: 80px;
}
