body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.slideshow-container {
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
}

img#slideshow {
  width: 500px;
  height: 500px;
}

footer {
  align-items: center;
  margin-top: 100px;
}
