body {
  font-family: Arial, sans-serif;
  background: SkyBlue;
  padding: 20px;
  text-align: center;
}

/* Center image */
img {
  display: block;
  margin: 0 auto;
}

/* Different font for h1 */
h1 {
  font-family: 'JelleeBold';
  font-weight: normal;
  font-style: normal;
}

/* Different font for h3 */
h3 {
  font-family: 'NowRegular';
  font-weight: normal;
  font-style: normal;
}

/* Styling of the container containing all the items */
.container {
  width: 300px;
  height: 200px;
  margin: 20px auto;
  background-color: white;
  border: 2px solid;
  
  /* Centers the text in the container*/
  display: flex;
  align-items: center;
  justify-content: center;
  
  overflow: auto;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 3;
}

.container ul li {
  text-align: center;
}
